# Where Discord commands will be registered
Guild_ID=12345678901234567890
# Where support tickets will be created
Support_Topic_ID=12345678901234567890
# Where closed tickets will be archived
Archive_Topic_ID=12345678901234567890
# ID of the role that can manage tickets
Support_Role_ID=12345678901234567890
# Replace with your actual bot token
Bot_Token=YOUR_DISCORD_BOT_TOKEN_HERE
# Set to true/false to remove commands when the bot shuts down
RMCMD=true